@import url('header.css');
@import url('main.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}
.wrapper{
    min-width: 100%;
    min-height: 100%;

}
.container{
    width: 95%;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    display: block;
    text-decoration: none;
}